.home {
  max-width: 800px;
  margin: 0 auto;
}

.btn-carrinho {
  background: orange;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.lista-produtos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.produto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.foto {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.btn-add {
  background: #007acc;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
