.homeGrid {
  width: 100%;
  max-width: 1400px; /* Largura grande para preencher a tela */
  margin: 40px auto; /* Centraliza */
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;

  padding: 0 200px; /* evita corte nas bordas */
}
