.checkout {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

button {
  background: green;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
