.card {
  background: #fff;
  border-radius: 12px;
  padding: 18px;
  text-align: center;
  border: 1px solid #ddd;
  transition: 0.25s ease;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  position: relative;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}

/* TAG DE DESCONTO */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 5;
}

/* IMAGEM */
.img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}

/* TÍTULO */
.title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/* PREÇOS */
.oldPrice {
  color: #888;
  text-decoration: line-through;
  margin-bottom: 4px;
}

.newPrice {
  color: #008000;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 14px;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

/* BOTÃO ADICIONAR */
.cartBtn {
  background: #ff9900;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.cartBtn:hover {
  background: #e68900;
}

/* BOTÃO SABER MAIS */
.moreBtn {
  background: #0066ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.moreBtn:hover {
  background: #0050c7;
}

/* CAIXA DE DESCRIÇÃO */
.descriptionBox {
  background: #f2f2f2;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
}

.description {
  text-align: left;
  color: #333;
  font-size: 15px;
}
